*

!.gitconfig
!.gitignore

!.bashrc
!.vimrc
!.bash_profile
!.bash_aliases
!cleanup

!gh_login.bat

!rg*
!rg*/*

!won.*
!woff.*

!eon.*
!eoff.*

!sysexp/
sysexp/*
!sysexp/readme.txt
!sysexp/sysexp.chm
!sysexp/sysexp.exe*

!PERSONAL.xlsb
